h1 {
	color: white;
	font-size: 30px;
	font-family: verdana;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
	}

p {
  margin: 0em;
}

.underlefteye{
	background: darkred;
    border-radius: 50%;
    width: 175px;
    height: 120px;
    position:fixed;
    left:450px; 
    top:180px;
    opacity: 80%;
	}

.underrighteye{
	background: darkred;
    border-radius: 50%;
    width: 175px;
    height: 120px;
    position:fixed;
    left:850px; 
    top:180px;
    opacity: 80%;
	}

.lefteyewhite {
    background: white;
    border-radius: 50%;
    width: 175px;
    height: 120px;
    position:fixed;
    left:450px; 
    top:150px;
    outline: solid 3px;
	}

.righteyewhite {
    background: white;
    border-radius: 50%;
    width: 175px;
    height: 120px;
    position:fixed;
    left:850px; 
    top:150px;
    outline: solid 3px;
	}

.lefteye {
	background: #460202;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position:fixed;
    left:490px; 
    top:160px;
}

.righteye {
	background: #460202;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position:fixed;
    left:880px; 
    top:160px;
}

.leftliner {
	width: 0px; 
	height: 0px; 
	border: 50px solid transparent;
  	border-top: 0;
  	border-bottom: 100px solid black;
  	position: fixed;
	left: 420px;
	top: 135px;
	transform: rotate(50deg);
}

.rightliner {
	width: 0px; 
	height: 0px; 
	border: 50px solid transparent;
  	border-top: 0;
  	border-bottom: 100px solid black;
  	position: fixed;
	left: 980px;
	top: 130px;
	transform: rotate(70deg);

}


img {
	position: fixed;
    top: 120px;
    left: 550px;
    width: 25%;
  	height: auto;
}

.smile1 {
	width: 500px;
  	height: 150px;
  	background: #E35151;
  	border-radius: 50%;
  	position:  fixed;
  	left: 480px;
  	top: 490px;
}

.smile2 {
	width: 500px;
  	height: 150px;
  	background: #FBFF9B;
  	border-radius: 50%;
  	position:  fixed;
  	left: 480px;
  	top: 460px;
}