h1 {
	color: white;
	font-size: 60px;
	font-family: lucida handwriting;
	margin-top: 10px;
  	margin-left: 250px;

	}


h3 {
	color: lightpink;
	font-size: 25px;
	font-family:  verdana;
	}

body {
	float: left;
    background-image: url("website_decor_image.jpg");
    background-repeat: repeat-y;
    margin-top: 10px;
  	margin-left: 200px;
	}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightpink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #B9EABC;
  background-color: transparent;
  text-decoration: underline;
}

